body{
  margin:0;
}
.box1{
  width: 800px;
  height: 1200px;
  position:relative;
  margin: auto;
  background:red;
}
.box2{
  width:100px;
  height:100px;
  background:blue;
  position: absolute;
  left:20px; top:20px;
}
.box3
{
  width:100px;
  height:100px;
  background: green;
  position: relative;
  left:140px; top:20px;
}
.box4
{
  width:100px;
  height:100px;
  margin: auto;
  background: cyan;
  position: absolute;
  left:60px; top:20px;
}
